<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" /></startup>
  <appSettings>
    <add key="endpoint" value="https://shoonyatrade.finvasia.com/NorenWClientTP/" />
    <add key="wsendpoint" value="wss://shoonyatrade.finvasia.com/NorenWSTP/" />
    <add key="uid" value="user" />
    <add key="pwd" value="password" />
    <add key="factor2" value="pan_or_dob" />
    <add key="vc" value="vendor_code" />    
    <add key="appkey" value="secret_key" />  
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
